.vscode
excercise_1.11/material-applications
excercise_1.12/material-applications
excercise_1.13/material-applications
excercise_1.14/excercise_1.12_frontend/material-applications
excercise_1.14/excercise_1.13_backend/material-applications